body, html {
  height: 100%;
  background-color: #fafafa;
  font: 100% Helvetica, sans-serif; }

#sockready {
  display: none; }

#map-canvas {
  height: 100%; }

#testbt {
  height: 30px;
  width: 30px;
  position: absolute;
  display: inline; }
