body, html {
  height: 100%;
  background-color: #fafafa;
  font: 100% Helvetica, sans-serif; }

.page-map {
  width: 100%;
  height: 93%;
  padding: 0; }

.page-map {
  width: 100%;
  height: 93%;
  padding: 0; }

#cont {
  width: 100%;
  height: 93%;
  padding: 0; }

#map-canvas {
  width: 90%;
  height: 97%;
  margin: 0 auto; }

#sockready {
  display: none; }

.interface {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

#testbt {
  position: absolute;
  top: 10%;
  left: 35%;
  background-color: white;
  width: 30%;
  height: 10%;
  text-align: center;
  border: solid 1px darkgray; }

#menu-bt {
  height: 15px;
  margin: 0 auto; }
